.ingredients-row.list-group-item {
  background-color: inherit;
}

.belt-type-normal {
  color: rgb(255, 165, 0);
}

.belt-type-fast {
  color: rgb(255, 0, 0);
}

.belt-type-express {
  color: rgb(0, 0, 255);
}

.belt-type-overloaded {
  color: rgb(0, 0, 0);
}
