.ingredients-row.list-group-item {
  background-color: inherit;
}

.ingredients-row.list-group-item.belt-normal {
  background-image: linear-gradient(
    to left,
    rgb(255, 165, 0, 0.2),
    rgb(0, 0, 0, 0)
  );
}

.ingredients-row.list-group-item.belt-fast {
  background-image: linear-gradient(
    to left,
    rgb(255, 0, 0, 0.2),
    rgb(0, 0, 0, 0)
  );
}

.ingredients-row.list-group-item.belt-express {
  background-image: linear-gradient(
    to left,
    rgb(0, 0, 255, 0.2),
    rgb(0, 0, 0, 0)
  );
}

.ingredients-row.list-group-item.belt-overloaded {
  background-image: linear-gradient(
    to left,
    rgb(0, 0, 0, 0.2),
    rgb(0, 0, 0, 0)
  );
}
